@model SistemaViajesCompartidos.Models.VehiculoModel

@{
    ViewBag.Title = "Editar";
}

<h3>@ViewBag.empleado</h3>
<hr />


@using (Html.BeginForm("Editar", "Vehiculos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Empleado_ID)
    @Html.HiddenFor(model => model.FechaVencimientoCarnetConducir)
    @Html.HiddenFor(model => model.FechaVencimientoComprobantePoliza)


    <div class="form-group">
        @Html.LabelFor(model => model.Patente, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Patente, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Patente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AsientosLibres, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.AsientosLibres, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AsientosLibres, "", new { @class = "text-danger" })
            @if (ViewBag.asientosInsuficientes != null && ViewBag.asientosInsuficientes)
            {
                <span class="text-danger field-validation-error" data-valmsg-for="Asientos" data-valmsg-replace="true"><span id="Asientos-error" class="">No puede tener menos asientos que pasajeros</span></span>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImagenCarnetConducir, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ImagenCarnetConducir, new { type = "file", name = "Imagen", accept = "image/*,.pdf", @class = "form-control" })
            @if (!String.IsNullOrWhiteSpace(Model.NombreArchivoCarnetConducir))
            {
                <label class="control-label" for="ComprobantePolizaValidado">
                    @Model.NombreArchivoCarnetConducir
                    <button type="button" onclick="location.href='@Url.Action("AdjuntoCarnet", new { ID = Model.ID })'" style="border: 0;background: transparent;">
                        <img src="~/Content/Images/download.svg" alt="Bootstrap" width="16" height="16">
                    </button>
                </label>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaVencimientoCarnetConducir, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @if (Model.FechaVencimientoCarnetConducir.HasValue)
            {
                @Html.TextBoxFor(model => model.FechaVencimientoCarnetConducir,
                    new { disabled = "disabled", @type = "date", @Value = Model.FechaVencimientoCarnetConducir.Value.ToString("yyyy-MM-dd"), @class = "form-control text-center" })
            }
            else
            {<span class="control-label"> sin adjunto </span>}
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImagenComprobantePoliza, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ImagenComprobantePoliza, new { type = "file", name = "Imagen", accept = "image/*,.pdf", @class = "form-control" })
            @if (!String.IsNullOrWhiteSpace(Model.NombreArchivoComprobantePoliza))
            {
                <label class="control-label" for="ComprobantePolizaValidado">
                    @Model.NombreArchivoComprobantePoliza
                    <button type="button" onclick="location.href='@Url.Action("AdjuntoPoliza", new { ID = Model.ID })'" style="border: 0;background: transparent;">
                        <img src="~/Content/Images/download.svg" alt="Bootstrap" width="16" height="16">
                    </button>
                </label>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaVencimientoComprobantePoliza, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @if (Model.FechaVencimientoComprobantePoliza.HasValue)
            {
                @Html.TextBoxFor(model => model.FechaVencimientoComprobantePoliza,
                    new { disabled = "disabled", @type = "date", @Value = Model.FechaVencimientoComprobantePoliza.Value.ToString("yyyy-MM-dd"), @class = "form-control text-center" })
            }
            else
            {<span class="control-label"> sin adjunto </span>}
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaAlta, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.FechaAlta, new { disabled = "disabled", @type = "date", @Value = Model.FechaAlta.ToString("yyyy-MM-dd"), @class = "form-control text-center" })
            @Html.ValidationMessageFor(model => model.FechaAlta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
