@model IEnumerable<SistemaViajesCompartidos.Models.VehiculoModel>

@{
    ViewBag.Title = "Vehiculos";
}

<h3>Vehiculos</h3>

<table class="table">
    <tr>
        <th class="col-lg-1 text-center">
            @Html.DisplayNameFor(model => model.Patente)
        </th>
        <th class="col-lg-1 text-center">
            Asientos
        </th>

        <th class="col-lg-2 text-center">
            @Html.DisplayNameFor(model => model.FechaVencimientoCarnetConducir)
        </th>
        <th class="col-lg-1 text-center">
            @Html.DisplayNameFor(model => model.ValidarCarnetConducir)
        </th>

        <th class="col-lg-2 text-center">
            @Html.DisplayNameFor(model => model.FechaVencimientoComprobantePoliza)
        </th>
        <th class="col-lg-1 text-center">
            @Html.DisplayNameFor(model => model.ValidarComprobantePoliza)
        </th>

        <th class="col-lg-1 text-center"></th>
        <th class="col-lg-1 text-center"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Patente)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.AsientosLibres)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.FechaVencimientoCarnetConducir)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ValidarCarnetConducir)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.FechaVencimientoComprobantePoliza)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ValidarComprobantePoliza)
            </td>

            <th class="text-center">
                @if (item.MostrarValidar)
                {
                    @Html.ActionLink("Validar", "Validar", new { ID = item.ID })
                }
            </th>
            <th class="text-center">
                @Html.ActionLink("Editar", "Editar", new { ID = item.ID })
            </th>
        </tr>
    }

</table>
