@model SistemaViajesCompartidos.Models.RecorridoModel

@{
    ViewBag.Title = "Recorrido";
}

<h3>Propuesta de recorrido</h3>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group" style="display:inline-flex">
        <hr />
        <div class="form-horizontal col-md-7">
            @Html.HiddenFor(model => model.ID)
            <div class="form-group">
                <table class="table">
                    <tr>
                        <th class="col-lg-1 text-center">

                        </th>
                        <th class="col-lg-6 text-center">
                            Direccion
                        </th>
                        <th class="col-lg-3 text-center"> Borrar </th>
                    </tr>

                    @foreach (var item in Model.Ubicaciones)
                    {
                        <tr>
                            <td class="text-center">
                                @item.TipoUbicacion
                            </td>
                            <td class="text-center">
                                @item.UbicacionTexto
                            </td>
                            <th class="text-center">
                                @if (item.TipoUbicacion == ViajesCompartidos.Enums.TipoUbicacionEnum.Pasajero)
                                {
                                    @Html.ActionLink("Quitar", "RemoverUbicacion", new { recorrido_ID = Model.ID, removerUbicacion_ID = item.ID }, new { onclick = "return confirm('¿Desea remover el punto de la ruta?');" })
                                }
                            </th>
                        </tr>
                    }
                </table>
            </div>

            <a class="btn btn-default buttonOffset15 botonCentrado" href="@Url.Action("AlternativaRuta", "Rutas" )">Ruta alternativa</a>
            <a class="btn btn-default buttonOffset15 botonCentrado" style="float:right" href="@Url.Action("AceptarRuta", "Rutas", new { recorrido_ID = Model.ID } )">Aceptar ruta</a>

        </div>

        <div class="form-horizontal col-md-5">
            <div class="form-group">
                <div class="mapa" id="recorrido">

                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        function loadDirections() {
                var origen = new google.maps.LatLng('@ViewBag.OrigenLatitud', '@ViewBag.OrigenLongitud');
                var destino = new google.maps.LatLng('@ViewBag.DestinoLatitud', '@ViewBag.DestinoLongitud');

                const mapOptions = {
                    zoom: 16,
                    center: new google.maps.LatLng('@ViewBag.CentroLatitud', '@ViewBag.CentroLongitud'),
                    mapTypeControl: false,
                    fullscreenControl: false,
                    zoomControl: true,
                    streetViewControl: false
                }

                const map = new google.maps.Map(document.getElementById("recorrido"), mapOptions),
                    directionsService = new google.maps.DirectionsService,
                    directionsDisplay = new google.maps.DirectionsRenderer({
                        map: map
                    });

                calculateAndDisplayRoute(directionsService, directionsDisplay, origen, destino);

        };

        function calculateAndDisplayRoute(directionsService, directionsDisplay, origen, destino) {
            let escalas = [];
            var ubicaciones = @Html.Raw(Json.Encode(@ViewBag.Ubicaciones));
            //console.log(ubicaciones);
            //console.log(ubicaciones[0]);
            //console.log(ubicaciones[1]);

            for (let i = 2; i < (ubicaciones.length - 2); i = i + 2) {
                escalas.push({
                    location: new google.maps.LatLng(ubicaciones[i], ubicaciones[i+1]),
                    stopover: false
                });
            }

            //console.log(escalas);

            directionsService.route({
                origin: origen,
                destination: destino,
                waypoints: escalas,
                avoidTolls: true,
                avoidHighways: false,
                travelMode: google.maps.TravelMode.DRIVING
            },
                function(response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            };

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZrUINt7hq2Js-FUA_otyngMihK-VMRuY&libraries=places&callback=loadDirections&solution_channel=GMP_QB_addressselection_v1_cBC">

    </script>
}