@model IEnumerable<SistemaViajesCompartidos.Models.SucursalModel>

@{
    ViewBag.Title = "Index";
}

<div class="form-group">
    <div class="col-lg-3">
        <h3>Sucursales</h3>
    </div>
    <div class="col-lg-1 col-lg-offset-8">
        @if (ViewBag.EmpresaModel_ID != null)
        {
            <a class="btn btn-default buttonOffset15 botonCentrado" href="@Url.Action("Crear", "Sucursales", new { EmpresaModel_ID = ViewBag.EmpresaModel_ID } )">Crear &raquo;</a>
        }
    </div>
</div>

<table class="table">
    <tr>
        <th class="col-lg-2 text-center">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th class="col-lg-5 text-center">
            @Html.DisplayNameFor(model => model.Ubicacion.UbicacionTexto)
        </th>
        <th class="col-lg-1 text-center">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </th>
        @*<th class="col-lg-1 text-center">
            @Html.DisplayNameFor(model => model.Activo)
        </th>*@
        <th class="col-lg-3 text-center"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Ubicacion.UbicacionTexto)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            @*<td class="text-center">
                @Html.DisplayFor(modelItem => item.Activo)
            </td>*@
            <th>
                @Html.ActionLink("Editar", "Editar", new { ID = item.ID }) |
                @Html.ActionLink("Empleados", "Index", "Empleados", new { SucursalID = item.ID }, new { }) |
                @*@if (item.Activo == true)
                {
                    @Html.ActionLink("Desactivar", "Desactivar", new { ID = item.ID }, new { onclick = "return confirm('¿Desea marcar la empresa como INACTIVA?');" })
                }
                else
                {
                    @Html.ActionLink("Activar", "Activar", new { ID = item.ID }, new { onclick = "return confirm('¿Desea marcar la empresa como ACTIVA?');" })
                }*@
            </th>
        </tr>
    }

</table>
