@model SistemaViajesCompartidos.Models.EmpresaModel

@{
    ViewBag.Title = "Details";
}

<div class="form-horizontal">
    <h3>Detalles</h3>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { disabled = "disabled", @class = "form-control text-center" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { disabled = "disabled", @class = "form-control text-center" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CUIT, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.CUIT, new { htmlAttributes = new { disabled = "disabled", @class = "form-control text-center" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TipoEmpresa, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.TipoEmpresa, new { htmlAttributes = new { disabled = "disabled", @class = "form-control text-center" } })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaAlta, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.FechaAlta, new { disabled = "disabled", @type = "date", @Value = Model.FechaAlta.ToString("yyyy-MM-dd"), @class = "form-control text-center" })
        </div>
    </div>
</div>
